---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { ArrowRight, Disc3, MapPin } from "lucide-react";

import "@styles/globals.css";

import Layout from "@/layouts/Layout.astro";
import { Container } from "@/components/ui/container";
import Metadata from "@/components/Metadata.astro";
import ArtistTeaser from "@/components/ArtistTeaser.astro";
import { resolveReleasesByArtist } from "@utils/resolvers";

const artists = await getCollection("artist");
const releases = await getCollection("release");
---

<Layout>
  <Metadata
    slot="head"
    title="Artists | Beyond Souls Records"
    description="Enter a new dimension of electronic music."
    type="website"
    image=""
  />

  <main>
    <Container className="items-center">
      <section class="w-full grid sm:grid-cols-2 gap-8 md:gap-10">
        {
          artists.map((artist) => (
            <ArtistTeaser
              {...artist}
              releaseCount={
                resolveReleasesByArtist(releases, artist.slug).length
              }
            />
          ))
        }
      </section>
    </Container>
  </main>
</Layout>
