---
import "@fontsource-variable/montserrat";

import { ViewTransitions } from "astro:transitions";
import clsx from "clsx";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  useCustomHeroSection?: boolean;
}

const { useCustomHeroSection = false } = Astro.props;
---

<html lang="en" transition:persist>
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content="Beyond Souls Records" />
    <slot name="head" />
    <script>
      function rehydrateTheme() {
        const theme = localStorage.getItem("theme") || "dark";
        document.documentElement.dataset.theme = theme;
      }

      rehydrateTheme();
      document.addEventListener("astro:after-swap", rehydrateTheme);
    </script>
  </head>
  <body>
    <Header transition:persist useCustomHeroSection />
    <slot name="hero" />
    <main
      class={clsx("", {
        "py-2 md:py-8 mt-36": !useCustomHeroSection,
      })}
    >
      <slot />
    </main>
    <Footer transition:persist />
    <script
      async
      src={`${import.meta.env.INSIGHTS_HOST}/${
        import.meta.env.INSIGHTS_TRACKER
      }.js`}
      data-website-id={import.meta.env.INSIGHTS_SITE_ID}
      data-cache="true"></script>
  </body>
</html>
